<div class="background-color-azul py-5">
  <div class="container ">
    <div class=" w-100 ">
      <div id="info-tranfer" data-controller="info-transfer">
        <div id='map' style='width: 100%; height: 400px;' data-controller="map" data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>" >
          <input type="hidden" data-map-target="rua" data-info-transfer-target="streetInput" data-action="input->info-transfer#send">
          <input type="hidden" data-map-target="bairro" data-info-transfer-target="neighborhoodInput" >
          <input type="hidden" data-map-target="cidade" data-info-transfer-target="cityInput" >
          <input type="hidden" data-map-target="categoria" data-info-transfer-target="categoryInput" >
          <input type="hidden" data-map-target="latitude" data-info-transfer-target="latitudeInput" >
          <input type="hidden" data-map-target="longitude" data-info-transfer-target="longitudeInput" >
        </div>
      <div>
    </div>
        <button class="w-100  p-2 my-3 button-vermelho-jairo"data-info-transfer-target="button" data-action="click->info-transfer#send">Autocomplete</button>
    <%= simple_form_for @emergency do |f| %>
      <%= f.input :street, label: "Rua e número", input_html: { data: { info_transfer_target: "streetOutput" } }, label_html: { class: "text-white fw-bold" } %>
      <%= f.input :neighborhood, label:"Bairro", input_html: {data: {info_transfer_target:"neighborhoodOutput"}},label_html: { class: "text-white fw-bold" } %>
      <%= f.input :city, label: "Cidade", input_html: {data: {info_transfer_target:"cityOutput"}},label_html: { class: "text-white fw-bold" } %>
      <%# <%= f.input :category, label: "Categoria", input_html: {data: {info_transfer_target:"categoryOutput"}} %>
      <%= f.input :n_people, label: "Número de acidentados",label_html: { class: "text-white fw-bold" } %>
      <%= f.input :description, label: "Descrição da ocorrência",label_html: { class: "text-white fw-bold" } %>
      <%= f.button :submit, class:"button-vermelho-jairo", id:"cacete" %>
    <% end %>



      <%= turbo_frame_tag "chat_message" do %>
        <p><%= render "chat_message" %></p>
      <% end %>
    </div>
  </div>
</div>
