<div class="background-color-azul py-5">
  <div class="container ">
    <div class="display-para-flex mb-3">
      <div class="mapa-pegando-emergencia">
        <div id='map' style='width: 100%; height: 400px;'
          data-controller="map"
          data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>" ></div>
      </div>
      <div class="todas-ocorrencias ms-4">
        <div id='map-all' style='width: 100%; height: 400px;'
          data-controller="map-all"
          data-map-all-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
          data-map-all-emergencies-markers-value="<%= @emergencies_markers.to_json %>"
          data-map-all-schedules-markers-value="<%= @schedules_markers.to_json %>" ></div>
      </div>
    </div>
<div class="w-100" data-controller="reset-emergency-form">

    <%= simple_form_for @emergency, data: {
      action: "submit->reset-emergency-form#refreshPage"
    } do |f| %>
      <div class="row w-100">
        <div class="col">
          <%= f.input :street, label: "<i class='fa-solid fa-road '></i>  Rua e número".html_safe, input_html: { data: { info_transfer_target: "streetOutput" } }, label_html: { class: "text-white fw-bold" } %>
        </div>
        <div class="col">
          <%= f.input :neighborhood, label:"<i class='fa-solid fa-map-location-dot'></i> Bairro".html_safe, input_html: {data: {info_transfer_target:"neighborhoodOutput"}}, label_html: { class: "text-white fw-bold" } %>
        </div>
      </div>
      <div class="row w-100">
        <div class="col">
          <%= f.input :city, label: "<i class='fa-solid fa-city '></i>  Cidade".html_safe, input_html: {data: {info_transfer_target:"cityOutput"}}, label_html: { class: "text-white fw-bold" } %>
        </div>
        <div class="col">
          <%= f.input :local_type, label: "<i class='fa-solid fa-location-dot'></i> Tipo de local".html_safe, input_html: {data: {info_transfer_target:"categoryOutput"}}, label_html: { class: "text-white fw-bold" } %>
        </div>
      </div>
      <div class="row w-100">
        <div class="col">
          <%= f.input :n_people, label: "<i class='fa-solid fa-person-falling-burst'></i> Número de acidentados".html_safe,label_html: { class: "text-white fw-bold" } %>
        </div>
        <div class="col">
          <%= f.input :emergency_lat, label: "<i class='fa-solid fa-map-pin'></i> Latitude".html_safe, input_html: {data: {info_transfer_target:"latitudeOutput"}}, label_html: { class: "text-white fw-bold" } %>
        </div>
        <div class="col">
          <%= f.input :emergency_lon, label: "<i class='fa-solid fa-map-pin'></i> Longitude".html_safe, input_html: {data: {info_transfer_target:"longitudeOutput"}}, label_html: { class: "text-white fw-bold" } %>
        </div>
      </div>
      <div class="row w-100">
        <%= f.input :description, label: "<i class='fa-solid fa-pencil'></i> Descrição da ocorrência".html_safe,label_html: { class: "text-white fw-bold" }  %>
      </div>
        <%= f.button :submit, "Criar nova emergência", class:"btn button-vermelho", id:"btn-vermelho", remote: true %>
    <% end %>
   </div>
</div>
</div>
