<div class="background-color-azul py-5">
  <div class="container ">
    <div class="display-para-flex mb-3">
      <div class="mapa-pegando-emergencia">
        <div id='map' style='width: 100%; height: 400px;' data-controller="map" data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>" ></div>
      </div>
      <div class="todas-ocorrencias ms-4">
        <div id='map-all' style='width: 100%; height: 400px;' data-controller="map-all" data-map-all-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>" data-map-all-emergencies-markers-value="<%= @emergencies_markers.to_json %>" data-map-all-schedules-markers-value="<%= @schedules_markers.to_json %>" ></div>
      </div>
    </div>

    <%= simple_form_for @emergency do |f| %>
      <%= f.input :street, label: "Rua e número", input_html: {data: {info_transfer_target:"streetOutput"}}, label_html: { class: "text-white fw-bold" } %>
      <%= f.input :neighborhood, label:"Bairro", input_html: {data: {info_transfer_target:"neighborhoodOutput"}}, label_html: { class: "text-white fw-bold" } %>
      <%= f.input :city, label: "Cidade", input_html: {data: {info_transfer_target:"cityOutput"}}, label_html: { class: "text-white fw-bold" } %>
      <%= f.input :local_type, label: "Tipo de local", input_html: {data: {info_transfer_target:"categoryOutput"}}, label_html: { class: "text-white fw-bold" } %>
      <%= f.input :emergency_lat, label: "Latitude", input_html: {data: {info_transfer_target:"latitudeOutput"}}, label_html: { class: "text-white fw-bold" } %>
      <%= f.input :emergency_lon, label: "Longitude", input_html: {data: {info_transfer_target:"longitudeOutput"}}, label_html: { class: "text-white fw-bold" } %>
      <%= f.input :n_people, label: "Número de acidentados",label_html: { class: "text-white fw-bold" } %>
      <%= f.input :description, label: "Descrição da ocorrência",label_html: { class: "text-white fw-bold" }  %>
      <%= f.button :submit, "Criar nova emergência", class:"btn button-vermelho", id:"btn-vermelho", remote: true %>
    <% end %>

   </div>
</div>
