<div class="container">

<%# precisa colocar um form do geocoding ou do correios %>
  <%= simple_form_for @emergency do |f| %>
    <%= f.input :description %>
    <%# o geocoding vai pegar os dados do endereco limpo e mandar pelo submit com params %>
    <%= f.button :submit %>
  <% end %>

    <%= turbo_frame_tag "chat_message" do %>
      <p><%= render "chat_message" %></p>
    <% end %>
</div>
