<div class="container-cellphone">
  <div class="container">
    <%= link_to root_path do %>
      <%= image_tag "logo_sias_white.png", alt: "logo", class: "img-schedule" %>
    <% end %>
      <h1 class= "space-gui">Ambulância <%= @schedule.user_id %></h1>
    <div class="form-schedule" data-controller="ambulance-id-name" data-ambulance-id-name-login-value=<%= raw @login %> >
      <%= simple_form_for @schedule do |f| %>
        <div class="form-schedule-info">
          <%= f.input :worker1_id, label: 'ID Usuário',
          label_html: { class: 'form-schedule-label' },
          input_html: { class: 'custom-input-id',
          data: {ambulance_id_name_target: "worker1Id",
          action: "input->ambulance-id-name#fillName"}} %>
          <%= f.input :worker1_id.name,
          label: 'Nome', label_html: { class: 'form-schedule-label' },
          input_html: { class: 'custom-input-worker',
          data: {ambulance_id_name_target: "worker1Nname"}} %>
          <%= f.input :worker2_id, label: false,
          label_html: { class: 'form-schedule-label' },
          input_html: { class: 'custom-input-id',
          data: {ambulance_id_name_target: "worker2Id"}} %>
          <%= f.input :worker2_id.name,
          label: false, label_html: { class: 'form-schedule-label' },
          input_html: { class: 'custom-input-worker',
          data: {ambulance_id_name_target: "worker2Name"}} %>
        </div>
        <div class="btn-schedule">
          <%= f.button :submit, value: 'Iniciar Turno', class: "btn-gui" %>
        </div>
      <% end %>
    </div>
    <div class="btn-back">
      <%=  link_to root_path, class:"btn-back" do %>
        <i class="fa-solid fa-arrow-left"></i> Voltar
      <% end %>
    </div>
  </div>
</div>
