<div class="accordion" data-controller="chatroom-subscription" data-chatroom-subscription-schedule-id-value="<%= @schedule.id %>" id="accordionShowSched">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Todas occorências:
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse " data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <div class="chatroom-mobile"
          data-chatroom-subscription-chatroomId-value="<%= @chatroom.id %>">
          <div class="messages" data-chatroom-subscription-target="messages">
            <% @chatroom.messages.each do |message| %>
              <%= render 'messages/message', message: message %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="map-mobile mt-3">
  <div id='map' style='width: 0 auto; height: 800px;'
    data-controller="map-mobile"
    data-map-mobile-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
    data-map-mobile-schedules-markers-value="<%= @schedules_markers.to_json %>"
    data-map-mobile-markers-value="<%= @markers.to_json %>">
  </div>
</div>
