<%= form_with model: @worker do |form| %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :occupation %>
    <%= form.number_field :occupation %>
  </div>

  <div class="actions">
    <%= form.submit "Update Worker", class: "btn btn-primary" %>
  </div>
<% end %>
